.input-add{
    width: 2rem;
    height: max-content;
}
.stats-content{
    justify-content: space-between;
}
.stats-input{
    
}
.stats-btn{
    
}
.btn-add-stock{
    border-radius: 0.3rem;
}
.stats-prods{
    flex-direction: column;
}

/* Modal */
.darkBG {
  background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 115vh;
    z-index: 9999;
    top: 0;
    left: 0;
    position: fixed;
}
/*
Modal Animation
*/
.appear-animate{
-webkit-animation:appear 1.5s ease 0s 1 normal;
-moz-animation:appear 1.5s ease 0s 1 normal;
-ms-animation:appear 1.5s ease 0s 1 normal;
animation:appear 1.5s ease 0s 1 normal;
}

@-webkit-keyframes appear {
0%{ opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
60%{ opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}
@keyframes appear {
0%{ opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
60%{ opacity: 1; transform: scale3d(1,1,1); }
}